@import '../../node_modules/materialize-css/bin/materialize.css';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@mixin ellipsis ($max-height, $lines: 2) {
  text-rendering: optimizeLegibility;
  overflow: hidden;
  max-height: $max-height;
  
  // Webkit solution for multiline ellipsis
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;  
  
  // Solution for Opera
  text-overflow: -o-ellipsis-lastline;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: roboto;
}

body {
  //grey lighten 4
  background-color: #f5f5f5;
}

nav {
  ul {
    h1 {
      margin: 0;
      line-height: 1em;
    }
    a {
      color: black;
    }
  }
}

.link {
  color: #03a9f4;
  cursor: pointer;
  margin: -.5em;
  padding: .5em;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
  &:hover {
    color: #01579b;
  }
}

.error-notice {
  position: absolute;
  top: rem-calc(45); 
  width: 100%;
  z-index: 9999;
  background-color: #E44646;
  color: white;
  text-align: center;
  padding: 5px;
  ul {
    list-style: none;
    margin: 0;
  }
}


//Landing page

.landing-page {
  position: fixed;
  top: 0;
  height: 100vh;
}

.landing__box {
  position: absolute;
  background: rgba(255,255,255,0.1);
  color: #ffffff;
  width: 800px;
  text-align: center;
  top: 150px;
  z-index: 110;
  padding: 0 50px 50px;
  left: 50%;
  margin-left: -400px;
}

.btn__oauth {
  margin: auto;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-wrapper .poster,
.touch .video-wrapper .poster {
    display: block !important;
}
.video-wrapper {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #000;
}
.video-wrapper .poster img {
    width: 100vw;
    bottom: 0;
    position: absolute;
}
.video-wrapper .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
}
.video-wrapper video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-wrapper video.fillHeight {
  margin-left: -50%;
  height: 100vh;
  left: 50vw;
}

.hidden {
  display: none;
}

//Books page

.book_catalog_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.book {
  position: relative;
  background: #ffffff;
  border-radius: 2px;
  width: 220px;
  height: 370px;
  margin: auto;
  margin-top: 50px;
  text-decoration: none;
  overflow: hidden;

  &:hover .book___bottom___available {
    background: #4caf50;
  }

  &:hover .book___bottom___borrowed {
    background: #FFC107;
  }

  &:hover .book___bottom___lost {
    background: #F44336;
  }
}

.book__cover {
  background-size: cover;
  background-position: center; 
  outline: none;
  width: 100%;
  height: 100px;
  transition: all 0.3s ease;
  will-change: auto;

  &:hover {
    height: 240px;
    background-position: top; 
  }
}

.book__author {
  @include ellipsis(4em, 1);
  line-height: 2em; 
}

.book__title {
  font-size: 1em;
  line-height: 1.4em;
  padding: 0 10px;
  height: 3em;
  @include ellipsis(3em, 2);
}

.book__author, .book__summary {
  padding: 10px;
  font-size: 0.8em;
  color: black;
}

.book__summary {
  height: 11em;
}

.book__summary__text {
  margin: 0;
  @include ellipsis(11em, 6);
}

.book__bottom {
  position: absolute;
  height: 35px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
  align-self: flex-end;
  transition: all 0.3s ease;
  will-change: background-color;
  background-color: #81c784;
}

.book___bottom___borrowed {
  background: orange;
}

.book___bottom___lost {
  background: red;
}

//Book details page

.book__details {
  float: inherit;
  padding: 50px;
  margin-top: 50px;
  background: white;
}

.book__details__title {
  font-size: 1.5em;
  padding: 0;
  line-height: 1.5em;
  margin: 50px auto;
}

.book__details__button {
  margin: 25px auto;
  width: 100%;
  background: #81c784
}

.book__details__img img {
  width: 100%;
}




